:root {
    --font-family: 'Roboto', sans-serif;
    --color-primary: #180ace;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    color: var(--color-primary);
}
